.devise-auth
  .card
    .card-header
      %h4 Resend unlock instructions
      %p We'll send instructions to unlock your account
    .card-body
      = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
        = f.error_notification
        = f.full_error :unlock_token
        .form-inputs
          = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }
        .form-actions
          = f.button :submit, "Resend unlock instructions", class: "btn btn-primary w-100"
    .card-footer
      = render "devise/shared/links"
