%b
  You have enrolled in the course
= link_to @enrollment.course, @enrollment.course
.row
%b
  Enrollment date:
= @enrollment.created_at
.row
%b
  Enrollment ID:
= @enrollment.slug
.row
%b
  Course price:
= number_to_currency(@enrollment.course.price)
.row
%b
  Price paid:
= number_to_currency(@enrollment.price)
.row
%b
  Course instructor:
= @enrollment.course.user.username
= mail_to @enrollment.course.user.email, @enrollment.course.user.email
%p
After completing the course, you will be entitled to a Certificate of Completion.
%p
Regards,
.row
= link_to 'The Corsego team', root_url
