.card
  .card-header
    .fa.fa-user
    = link_to user.email, user_path(user)
  .card-footer
    Signed up
    = time_ago_in_words(user.created_at)
    ago
  .card-footer
    %b= 'sign_in_count'.humanize + ":"
    = user.sign_in_count
    .row
    %b= 'current_sign_in_at'.humanize + ":"
    = user.current_sign_in_at
    .row
    %b= 'last_sign_in_at'.humanize + ":"
    = user.last_sign_in_at
    .row
    %b= 'current_sign_in_ip'.humanize + ":"
    = user.current_sign_in_ip
    .row
    %b= 'last_sign_in_ip'.humanize + ":"
    = user.last_sign_in_ip
  .card-footer
    Confirmed email?
    - if user.confirmed_at.present?
      .badge.badge-success Yes
    - else
      .badge.badge-danger No
  .card-footer
    - user.roles.each do |role|
      .badge.badge-info
        = role.name
    - if policy(user).edit?
      = link_to 'Edit roles', edit_user_path(user), class: 'btn btn-sm btn-warning'
