- content_for :title do
  Corsego 
  \| 
  All Users

%h3
  .text-center
    Users
    .badge.badge-info
      = @users.count
%p

.form-inline
  = search_form_for @q do |f|
    = f.search_field :email_cont, placeholder: 'email'
    = f.submit
  .ml-2
  = link_to 'refresh', users_path
%br
.table-responsive
  %table.table.table-bordered.table-striped.table-sm.table-hover
    %thead
      %tr
        %th id
        %th= sort_link(@q, :email)
        %th= sort_link(@q, :created_at)
        %th= sort_link(@q, :confirmed_at)
        %th Roles
        %th= sort_link(@q, :courses_count)
        %th= sort_link(@q, :enrollments_count)
        %th= sort_link(@q, :comments_count)
        %th= sort_link(@q, :user_lessons_count, "Lessons viewed")
        %th= sort_link(@q, :course_income)
        %th= sort_link(@q, :enrollment_expences)
        %th= sort_link(@q, :balance)
        %th= 'sign_ins'.humanize
        %th= 'current_sign_in'.humanize
        %th= 'last_sign_in'.humanize
        %th= 'current_ip'.humanize
        %th= 'last_ip'.humanize
    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td
            - if user.online?
              .text-success.fa.fa-signal
            - else
              .text-danger.fa.fa-signal
            = link_to user.email, user_path(user)
          %td= user.created_at.strftime('%d/%m/%y, %H:%M')
          %td= boolean_label(user.confirmed?)
          %td
            - user.roles.each do |role|
              .badge.badge-info
                = role.name
            - if policy(user).edit?
              = link_to 'Edit', edit_user_path(user), class: 'btn btn-sm btn-warning btn-block'
          %td= user.courses_count
          %td= user.enrollments_count
          %td= user.comments_count
          %td= user.user_lessons_count
          %td= user.course_income
          %td= user.enrollment_expences
          %td= user.balance
          %td= user.sign_in_count
          %td
            - if user.current_sign_in_at.present?
              = user.current_sign_in_at.strftime('%d/%m/%y, %H:%M')
          %td
            - if user.last_sign_in_at.present?
              = user.last_sign_in_at.strftime('%d/%m/%y - %H:%M')
          %td= user.current_sign_in_ip
          %td= user.last_sign_in_ip
%p
!= pagy_bootstrap_nav(@pagy)

%br