- content_for :title do
  Corsego
  \|
  = @user.username

.row
  .col-md-6
    .card.shadow
      .card-header
        %i.fa.fa-user{"aria-hidden": "true"}
        - if @user.online?
          %i.text-success.fa.fa-signal{"aria-hidden": "true"}
          %span.visually-hidden Online
        - else
          %i.text-danger.fa.fa-signal{"aria-hidden": "true"}
          %span.visually-hidden Offline
        = link_to @user.username, user_path(@user)
      .card-footer
        - if @user == current_user && @user.uid.nil?
          = button_to user_google_oauth2_omniauth_authorize_path, data: { turbo: false }, class: 'btn btn-outline-primary btn-sm' do
            %span.fab.fa-google{"aria-hidden": "true"}
            Sync with Google
        - if @user.image?
          .mb-2
          = image_tag @user.image, size: '40x40', alt: "#{@user.email}", class: 'rounded-circle'
        = @user.name
      .card-footer
        Signed up
        = time_ago_in_words(@user.created_at)
        ago
      - if current_user.has_role?(:admin) || @user == current_user
        .card-footer
          %p.mb-1
            %b= 'email'.humanize + ":"
            = @user.email
          %p.mb-1
            %b= 'sign_in_count'.humanize + ":"
            = @user.sign_in_count
          %p.mb-1
            %b= 'current_sign_in_at'.humanize + ":"
            = @user.current_sign_in_at
          %p.mb-1
            %b= 'last_sign_in_at'.humanize + ":"
            = @user.last_sign_in_at
          %p.mb-1
            %b= 'current_sign_in_ip'.humanize + ":"
            = @user.current_sign_in_ip
          %p.mb-0
            %b= 'last_sign_in_ip'.humanize + ":"
            = @user.last_sign_in_ip
      - if current_user.has_role?(:admin)
        .card-footer
          %b= 'stripe_customer_id'.humanize + ":"
          = @user.stripe_customer_id
        .card-footer
          %p.mb-1
            %b= 'course_income'.humanize + ":"
            = @user.course_income
          %p.mb-1
            %b= 'enrollment_expences'.humanize + ":"
            = @user.enrollment_expences
          %p.mb-0
            %b= 'balance'.humanize + ":"
            = @user.balance
      .card-footer
        %p.mb-1
          %i.fa.fa-graduation-cap{"aria-hidden": "true"}
          Courses created:
          = @user.courses_count
        %p.mb-1
          %i.fa.fa-lock-open{"aria-hidden": "true"}
          Enrollments:
          = @user.enrollments_count
        %p.mb-1
          %i.fa.fa-comment{"aria-hidden": "true"}
          Comments:
          = @user.comments_count
        %p.mb-1
          %i.fa.fa-eye{"aria-hidden": "true"}
          Lessons viewed:
          = @user.user_lessons_count
        %p.mb-0
          %i.fa.fa-user-graduate{"aria-hidden": "true"}
          Students:
          = @user.students.count
      .card-footer
        Confirmed email?
        = boolean_label(@user.confirmed?)
      .card-footer
        - @user.roles.each do |role|
          .badge.text-bg-info
            = role.name
        - if policy(@user).edit?
          = link_to 'Edit roles', edit_user_path(@user), class: 'btn btn-sm btn-warning'

  .col-md-6
    .card.shadow
      .card-header
        %b Courses: Teaching
      .card-body
        - @courses_teaching.each do |course|
          .mb-1
          = link_to course.title, course_path(course)
    .card.shadow.mt-3
      .card-header
        %b Courses: Learning
      .card-body
        - @courses_learning.each do |enrollment|
          .mb-1
          = link_to enrollment.course.title, course_path(enrollment.course)
