- content_for :title do
  Corsego 
  \| 
  = @user.username

.row
  .col-md-6
    = render 'users/user', user: @user
    %p
  .col-md-6
    .card.shadow
      .card-header
        %b Courses: Teaching
      .card-body
        - @courses_teaching.each do |course|
          .row
          = link_to course.title, course_path
    %p
    .card.shadow
      .card-header
        %b Courses: Learning
      .card-body
        - @courses_learning.each do |enrollment|
          .row
          = link_to enrollment.course.title, course_path(enrollment.course)

/%br
/= link_to user_google_oauth2_omniauth_authorize_path, class: 'nav-link' do
/  .fab.fa-google
/  Sign in with Google
/%br
/- if @user.image?
/  .row
/  = image_tag @user.image, size: '40x40', alt: "#{@user.email}", class: 'rounded-circle'
/.row
/= @user.name
