- content_for :title do
  Corsego 
  \| 
  = @user.username

.row
  .col-md-6

    .card.shadow
      .card-header
        .fa.fa-user
        - if @user.online?
          .text-success.fa.fa-signal
        - else
          .text-danger.fa.fa-signal
        = link_to @user.username, user_path(@user)
      .card-footer
        - if @user == current_user && @user.uid.nil?
          = link_to user_google_oauth2_omniauth_authorize_path, class: 'btn btn-outline-primary btn-sm' do
            .fab.fa-google
            Sync with Google
          %p
        - if @user.image?
          .row
          = image_tag @user.image, size: '40x40', alt: "#{@user.email}", class: 'rounded-circle'
        .row
        = @user.name
      .card-footer
        Signed up
        = time_ago_in_words(@user.created_at)
        ago
      - if current_user.has_role?(:admin) || @user = current_user
        .card-footer
          %b= 'email'.humanize + ":"
          = @user.email
          .row
          %b= 'sign_in_count'.humanize + ":"
          = @user.sign_in_count
          .row
          %b= 'current_sign_in_at'.humanize + ":"
          = @user.current_sign_in_at
          .row
          %b= 'last_sign_in_at'.humanize + ":"
          = @user.last_sign_in_at
          .row
          %b= 'current_sign_in_ip'.humanize + ":"
          = @user.current_sign_in_ip
          .row
          %b= 'last_sign_in_ip'.humanize + ":"
          = @user.last_sign_in_ip
        .card-footer
          %b= 'stripe_customer_id'.humanize + ":"
          = @user.stripe_customer_id
        .card-footer
          %b= 'course_income'.humanize + ":"
          = @user.course_income
          .row
          %b= 'enrollment_expences'.humanize + ":"
          = @user.enrollment_expences
          .row
          %b= 'balance'.humanize + ":"
          = @user.balance
      .card-footer
        .fa.fa-graduation-cap
        Courses created:
        = @user.courses_count
        .row
        .fa.fa-lock-open
        Enrollments:
        = @user.enrollments_count
        .row
        .fa.fa-comment
        Comments:
        = @user.comments_count
        .row
        .fa.fa-eye
        Lessons viewed:
        = @user.user_lessons_count
        .row
        .fa.fa-user-graduate
        Students:
        = @user.students.count
      .card-footer
        Confirmed email?
        = boolean_label(@user.confirmed?)
      .card-footer
        - @user.roles.each do |role|
          .badge.badge-info
            = role.name
        - if policy(@user).edit?
          = link_to 'Edit roles', edit_user_path(@user), class: 'btn btn-sm btn-warning'

    %p
  .col-md-6
    .card.shadow
      .card-header
        %b Courses: Teaching
      .card-body
        - @courses_teaching.each do |course|
          .row
          = link_to course.title, course_path(course)
    %p
    .card.shadow
      .card-header
        %b Courses: Learning
      .card-body
        - @courses_learning.each do |enrollment|
          .row
          = link_to enrollment.course.title, course_path(enrollment.course)
