- content_for :title do
  Corsego 
  \| 
  Activity

%h3
  .text-center
    Activity
    .badge.badge-info
      = @activities.count
%p

%ul.list-group.shadow
  - @activities.each do |activity|
    %li.list-group-item
      /= activity.id
      = activity.created_at.strftime('%d/%m/%Y, %H:%M')
      (#{time_ago_in_words(activity.created_at)})
      = model_label(activity.trackable_type)
      = activity.trackable_type
      /= activity.trackable_id
      - if activity.trackable_type == "Lesson"
        - if Lesson.where(id: activity.trackable_id).any?
          = link_to activity.trackable, course_lesson_path(activity.trackable.course, activity.trackable)
        - else
          that was deleted
      - elsif activity.trackable_type == "Comment"
        - if Comment.where(id: activity.trackable_id).any?
          = link_to activity.trackable.content, course_lesson_path(activity.trackable.lesson.course, activity.trackable.lesson)
        - else
          that was deleted
      - elsif activity.trackable_type == "Course"
        - if Course.where(id: activity.trackable_id).any?
          = link_to activity.trackable, activity.trackable
        - else
          that was deleted
      - else
        = link_to activity.trackable, activity.trackable
      = activity.key
      = crud_label(activity.key.match(/\.(.*)/)[1])
      /= activity.key.match(/\.(.*)/)[1]
      /= activity.owner
      by
      - if activity.owner.present?
        = link_to activity.owner, user_path(activity.owner)
        - if activity.parameters.any?
          = activity.parameters
      - else
        a deleted user
%p
!= pagy_bootstrap_nav(@pagy)
%br