- content_for :title do
  Corsego 
  \| 
  Online Courses - Learn Anything, On Your Schedule

.jumbotron
  .display-4
    What do you want to learn today?
  
  .p-4

  - if current_user
    = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
      .input-group
        = f.search_field :title_cont, class: 'form-control-lg', style: 'float: left; width: 175px; ', placeholder: 'Find a course', :autocomplete => :off
        %span.input-group-append
          %button.btn.btn-primary.btn-lg{:type => "submit"}
            %span.fa.fa-search{"aria-hidden" => "true"}

  /.form-inline.my-2.my-lg-0
  /  = form_tag(courses_path, method: :get) do
  /    .input-group
  /      = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Find a course", class: 'form-control-sm'
  /      %span.input-group-append
  /        %button.btn.btn-primary.btn-sm{:type => "submit"}
  /          %span.fa.fa-search{"aria-hidden" => "true"}

.card-group
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    = pluralize(Course.approved.published.count, 'online courses')
    /= Course.count
    /online courses
    .row
    %small Explore a variety of fresh topics
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
      /.fa.fa-brain
    = pluralize(Course.distinct.count(:user_id), 'expert instructors')
    /= Course.distinct.count(:user_id)
    /expert instructors
    .row
    %small Find the right instructor for you
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = pluralize(User.count, 'active learners')
    /= User.count
    /active learners
    .row
    %small Join the knowledge sharing community
  .card.card-body
    %h1
      .fa.fa-infinity
    Lifetime access
    .row
    %small Learn on your schedule

%p

%h2 
  .fa.fa-tags
  Top Categories
- @popular_tags.each do |tag|
  = link_to courses_path(courses_search: {course_tags_tag_id_eq: tag.id}) do
    .badge.badge-info
      = tag.name
      %span.badge.badge-light
        = tag.course_tags_count
%hr

- if current_user 
  - if current_user.enrollments.any?
    %h2
      .fa.fa-user-graduate
      Continue Learning
    .card-columns
      - @learning_courses.each do |course|
        = render 'courses/course', course: course
    .text-right
      = link_to 'All that I am learning ', learning_courses_path
    %hr
  - if current_user.courses.any?
    %h2
      .fa.fa-chalkboard-teacher
      You are teaching
    .card-columns
      - @teaching_courses.each do |course|
        = render 'courses/course', course: course
    .text-right
      = link_to 'All that I am teaching', teaching_courses_path
    %hr

%h2
  .fa.fa-chart-line
  Popular courses
.card-columns
  - @popular.each do |course|
    = render 'courses/course', course: course
.text-right
  = link_to 'More popular courses', courses_path(courses_search: {s: 'enrollments_count desc'})
%hr
%h2 
  .fa.fa-star
  Top rated courses
.card-columns
  - @top_rated.each do |course|
    = render 'courses/course', course: course
.text-right
  = link_to 'Best rated courses', courses_path(courses_search: {s: 'average_rating desc'})

%hr
%h2 
  .fa.fa-clock
  Latest courses
.card-columns
  - @latest.each do |course|
    = render 'courses/course', course: course
.text-right
  = link_to 'More recent courses', courses_path(courses_search: {s: 'created_at desc'})

%hr

%h2 
  .fa.fa-comment
  What our students have to say
.card-columns
  - @latest_good_reviews.each do |enrollment|
    = render 'enrollments/enrollment', enrollment: enrollment

%br
.card-group
  .card.card-body
    %b
      .far.fa-clock
      Go at your own pace
    %small
      Enjoy lifetime access to courses on Udemy’s website and app
  .card.card-body
    %b
      .far.fa-check-circle
      Learn from industry experts
    %small
      Select from top instructors around the world
  .card.card-body
    %b
      .far.fa-play-circle
      Find video courses on almost any topic
    %small
      Build your library for your career and personal growth
