- content_for :title do
  Corsego 
  \| 
  Online Courses - Learn Anything, On Your Schedule

.jumbotron
  .display-4
    What do you want to learn today?
  
  .p-4

  - if current_user
    = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
      .input-group
        = f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 150px; ', placeholder: 'Find a course', :autocomplete => :off
        %span.input-group-append
          %button.btn.btn-primary.btn-sm{:type => "submit"}
            %span.fa.fa-search{"aria-hidden" => "true"}

  /.form-inline.my-2.my-lg-0
  /  = form_tag(courses_path, method: :get) do
  /    .input-group
  /      = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Find a course", class: 'form-control-sm'
  /      %span.input-group-append
  /        %button.btn.btn-primary.btn-sm{:type => "submit"}
  /          %span.fa.fa-search{"aria-hidden" => "true"}

.card-group
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    = Course.count
    online courses
    .row
    Explore a variety of fresh topics
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
      /.fa.fa-brain
    = Course.distinct.count(:user_id)
    expert instructors
    .row
    Find the right instructor for you
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = User.count
    active learners
    .row
    Join the knowledge sharing community
  .card.card-body
    %h1
      .fa.fa-infinity
    Lifetime access
    .row
    Learn on your schedule

%p

- if current_user
  %h2
    .fa.fa-user-graduate
    Continue Learning
  .card-columns
    - @purchased_courses.each do |course|
      = render 'courses/course', course: course
  %hr

%h2
  .fa.fa-chart-line
  Popular courses
.card-columns
  - @popular.each do |course|
    = render 'courses/course', course: course

%hr
%h2 
  .fa.fa-star
  Top rated courses
.card-columns
  - @top_rated.each do |course|
    = render 'courses/course', course: course

%hr
%h2 
  .fa.fa-clock
  Latest courses
.card-columns
  - @latest.each do |course|
    = render 'courses/course', course: course

%hr
%h2 
  .fa.fa-comment
  What our students have to say
.card-columns
  - @latest_good_reviews.each do |enrollment|
    = render 'enrollments/enrollment', enrollment: enrollment

