.card.shadow
  .card-body
    .text-warning.fa.fa-star
    %b= enrollment.rating
    .fa.fa-user
    = link_to enrollment.user.username, user_path(enrollment.user)
    %br
    .fa.fa-comment
    %small= enrollment.review
    %br
    .fa.fa-clock
    #{time_ago_in_words(enrollment.updated_at)} ago
    - if policy(enrollment).edit?
      = link_to 'Edit Review', edit_enrollment_path(enrollment)
