%center
  %div{:style => "width:1200px; height:800px; padding:20px; text-align:center; border: 10px solid #563d7c"}
    %div{:style => "width:1150px; height:750px; padding:20px; text-align:center; border: 5px solid #563d7c"}
      %br
      %br
      %span{:style => "font-size:50px; font-weight:bold"} Certificate of Completion
  
      /%center
      /  %h1 
      /    Certificate of Completion

      %br
      %br
      %br
      %p
      %h3
        This is to certify that the owner of the email address
      %h2
        %u
          = @enrollment.user.email
      %h3
        has successfully completed the course
      %h2
        %u
          = @enrollment.course.title
      %h3
        on the Corsego.com platform
      
      %p

      %br
      %br
      %br
      %b Certificate id: 
      #{@enrollment.slug}
      
      %p
      
      %b Certificate url: 
      #{request.base_url}#{request.original_fullpath}

      %p
      %b Registration date: 
      #{@enrollment.created_at.strftime('%d-%b-%Y')}
      
      %br
      %br
      %center
        %h3
          = image_tag wicked_pdf_asset_base64('logo-bootstrap.png'), height: "30", width: "auto"
          %p
          www.Corsego.com
