- content_for :title do
  Corsego 
  |
  Review
  = @enrollment.course

= link_to 'Courses', courses_path
|
= link_to course_path(@enrollment.course) do
  .fa.fa-graduation-cap
  = @enrollment.course.title
|
= link_to 'Add Review', edit_enrollment_path(@enrollment)

.card.shadow
  .card-header
    %h3
      .text-warning.fa.fa-star
      Add a Review
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show Review', @enrollment
    \|
    = link_to 'Back to course', course_path(@enrollment.course)
