- content_for :title do
  Corsego
  |
  Review
  = @enrollment.course

= link_to 'Courses', courses_path
|
= link_to course_path(@enrollment.course) do
  %i.fa.fa-graduation-cap{"aria-hidden": "true"}
  = @enrollment.course.title
|
= link_to 'Add Review', edit_enrollment_path(@enrollment)

.card.shadow
  .card-header
    %h3
      %i.text-warning.fa.fa-star{"aria-hidden": "true"}
      Add a Review
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show Review', @enrollment
    \|
    = link_to 'Back to course', course_path(@enrollment.course)
