- content_for :title do
  Corsego 
  \| 
  All Enrollments

%h3
  .text-center
    Enrollments
    .badge.badge-info
      = @enrollments.count
%p

.table-responsive
  %table.table.table-bordered.table-striped.table-sm
    %thead
      %tr
        %th ID
        %th
          .fa.fa-user
          User
        %th
          .fa.fa-clock
          .fa.fa-lock-open
          bought
        %th
          .fa.fa-graduation-cap
          Course
        %th 
          .fa.fa-dollar-sign
          Price
        %th 
          .text-warning.fa.fa-clock
          Reviewed on
        %th 
          .text-warning.fa.fa-star
          Rating
        %th 
          .text-warning.fa.fa-comment
          Review
        %th
        %th
        %th
  
    %tbody
      - @enrollments.each do |enrollment|
        %tr
          %td= enrollment.id
          %td= link_to enrollment.user, user_path(enrollment.user)
          %td= enrollment.created_at.strftime("%d/%b/%Y, %H:%M")
          %td= link_to enrollment.course, course_path(enrollment.course)
          %td= number_to_currency(enrollment.price)
          %td
            - if enrollment.rating.present?
              = enrollment.updated_at.strftime("%d/%b/%Y, %H:%M")
          %td= enrollment.rating
          %td= enrollment.review
          %td= link_to 'See Review', enrollment
          %td= link_to 'Add Review', edit_enrollment_path(enrollment)
          %td= link_to 'Delete Enrollment', enrollment, method: :delete, data: { confirm: 'Are you sure?' }
!= pagy_bootstrap_nav(@pagy)
%br
