- content_for :title do
  Corsego 
  | 
  New enrollment

.card.shadow
  .card-header
    %h3
      .fa.fa-graduation-cap
      = link_to @course.title, course_path(@course)
      %hr
      .fa.fa-lock-open
      Buy course:
      = number_to_currency @course.price
  .card-body
    - if @course.price > 0
      = button_to "Buy now!", checkout_create_path, params: {id: @course.id}, remote: true, data: { disable_with: "validating..."}
      = form_tag course_enrollments_path(@course) do
        %script.stripe-button{"data-amount" => "#{(@course.price * 100).to_i}",
                              "data-description" => "#{@course.title} (#{number_to_currency @course.price})",
                              "data-email" => "#{current_user.email}",
                              "data-key" => "#{Rails.application.credentials[Rails.env.to_sym][:stripe][:publishable]}",
                              "data-locale" => "auto",
                              :src => "https://checkout.stripe.com/checkout.js"}
    - else
      = form_tag course_enrollments_path(@course) do
        = submit_tag "Enroll for free!", class: 'btn btn-lg btn-success'

  .card-footer
    = link_to 'Back', course_path(@course)
