%h1.h3.text-center
  Tags
  .badge.text-bg-info
    = @tags.count
.card.shadow
  .card-body
    - @tags.each do |tag|
      .btn-group.me-1.mb-1
        = link_to courses_path(courses_search: {course_tags_tag_id_eq: tag.id}), class: "btn btn-lg btn-info" do
          = tag.name
          .badge.text-bg-light
            = tag.course_tags_count
        - if policy(tag).destroy?
          = link_to 'Destory', tag, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-lg btn-danger"
