-# frozen_string_literal: true
= simple_form_for([@course, @lesson]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title, input_html: { autocomplete: 'off' }
    /= f.input :content
    /= f.label :content
    /= f.rich_text_area :content
    /%small= f.error :content, class: 'text-danger'
    = f.input :content, as: :rich_text_area

    %p
    - if @lesson.video.attached?
      = @lesson.video.filename
      = link_to 'Remove video and thumbnail', delete_video_course_lesson_path(@course, @lesson), method: :delete, data: { confirm: 'Are you sure?' }
    = f.input :video
    - if @lesson.video_thumbnail.attached?
      /= image_tag @course.avatar, width: "200px"
      /.row
      = @lesson.video_thumbnail.filename

    = f.input :video_thumbnail

    /= f.association :course
    /= f.input :course_id, input_html: {value: @lesson.course_id || params[:course_id]}, as: :hidden
  .form-actions
    = f.button :submit
