-# frozen_string_literal: true
= simple_form_for([@course, @lesson]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .form-inputs
    = f.input :title, input_html: { autocomplete: 'off' }
    = f.association :chapter, collection: @course.chapters.order(row_order: :asc), include_blank: false
    = f.input :content, as: :rich_text_area
    = f.input :vimeo, label: "Vimeo video ID"
  .form-actions
    = f.button :submit
