.card
  .card-header
    - if lesson.viewed(current_user) == true
      .text-success.fa.fa-check-square
      /VIEWED
    - else
      .text-danger.fa.fa-check-square
      /NOT VIEWED

    /.far.fa-check-square
    = link_to course_lesson_path(@course, lesson) do
      %b
        #{lesson.row_order_rank + 1}.
      = lesson.title
  /- if policy(lesson).show?
  .card-body
    /= @lesson.video.attached?
    /= @lesson.video_thumbnail.attached?
    /= image_tag @lesson.video_thumbnail
    - if @lesson.video.attached?
      - if @lesson.video_thumbnail.attached?
        %video(controls="true" poster="#{url_for @lesson.video_thumbnail}" width="100%" preload="metadata" controlslist="nodownload")
          %source{src: rails_blob_url(@lesson.video), type:"#{@lesson.video.content_type}"}
      - else
        /%video{:controls => "", :controlslist => "nodownload", :height => "380", :width => "512"}
        %video(controls="true" width="100%" preload="metadata" controlslist="nodownload")
          %source{src: rails_blob_url(@lesson.video), type:"#{@lesson.video.content_type}"}

    = lesson.content

  - if policy(lesson).edit?
    .card-footer
      = link_to edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-warning mr-1' do
        .fa.fa-edit
      = link_to [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do
        .fa.fa-trash
  .card-footer
    - unless lesson.prev.nil?
      .float-left
        = link_to course_lesson_path(@course, lesson.prev), class: 'btn btn-sm btn-info' do
          .fa.fa-arrow-left
          Previous
    - unless lesson.next.nil?
      .float-right
        = link_to course_lesson_path(@course, lesson.next), class: 'btn btn-sm btn-info' do
          .fa.fa-arrow-right
          Next
