- content_for :title do
  = @course.title
  |
  Edit Lesson
  = @lesson.title

.fa.fa-graduation-cap
= link_to course_path(@course) do
  = @course.title
|
.fa.fa-check-square
= link_to course_lesson_path(@course, @lesson, anchor: "current_lesson") do
  = @lesson.title
|
= link_to 'Edit Lesson', edit_course_lesson_path(@course, @lesson)

.card.shadow
  .card-header
    %h3
      .far.fa-check-square
      Edit lesson
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show lesson', course_lesson_path(@course, @lesson, anchor: "current_lesson")
    \|
    = link_to 'Back to course', course_path(@lesson.course)
