- content_for :title do
  Corsego 
  |
  Course
  = @course.title
  |
  New Lesson

= link_to 'Courses', courses_path
|
= link_to course_path(@course) do
  .fa.fa-graduation-cap
  = @course.title
|
= link_to 'New lesson', new_course_lesson_path(@course, @lesson)

.card
  .card-header
    %h3
      .far.fa-check-square
      New lesson
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back to course', course_path(@course)
