- content_for :title do
  = @course.title
  |
  New Lesson


.fa.fa-graduation-cap
= link_to course_path(@course) do
  = @course.title
|
.far.fa-check-square
= link_to new_course_lesson_path(@course, @lesson) do
  New lesson

.card.shadow
  .card-header
    %h3
      .far.fa-check-square
      New lesson
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back to course', course_path(@course)
