- content_for :title do
  Corsego 
  \/
  Course
  = @course.title
  \/
  Lesson
  = @lesson.title


= link_to 'Courses', courses_path
\/
= link_to course_path(@lesson.course) do
  .fa.fa-graduation-cap
  = @lesson.course.title
\/
= link_to course_lesson_path(@course, @lesson) do
  .fa.fa-check-square
  = @lesson.title
%p

= render 'lessons/lesson', lesson: @lesson

= link_to 'Back to course', course_path(@lesson.course)
