- content_for :title do
  Corsego 
  |
  Course
  = @course.title
  |
  Lesson
  #{@lesson.row_order_rank + 1}.
  = @lesson.title


= link_to 'Courses', courses_path
|
.fa.fa-graduation-cap
= link_to course_path(@lesson.course) do
  = @lesson.course.title
|
.fa.fa-check-square
= link_to course_lesson_path(@course, @lesson) do
  = @lesson.title
%p

/= @lesson.user_lessons.where(user: current_user).first.impressions

.row
  .col-lg-8
    = render 'lessons/lesson', lesson: @lesson
    %p
    %h4
      .fa.fa-comment
      Comments:
      /= Comment.count
      /= @comments.count
      = @lesson.comments_count
    .card.shadow
      .card-header
        New comment
      .card-body
        = render 'lessons/comments/form'
    %p
    - @comments.each do |comment|
      = render 'lessons/comments/comment', comment: comment
      %p

  .col-lg-4
    %ul.list-group.shadow
      %li.list-group-item
        .fa.fa-graduation-cap
        = link_to course_path(@lesson.course) do
          = @lesson.course.title
        .row
        = render 'courses/progress', course: @lesson.course
        /.fa.fa-spinner
        /= number_to_percentage(@course.progress(current_user), precision: 0)

      - @lessons.each do |lesson|
        - if @lesson.present? && lesson == @lesson
          %li.list-group-item.list-group-item-success
            = render 'lessons/lesson_preview', lesson: lesson
        - else
          %li.list-group-item
            = render 'lessons/lesson_preview', lesson: lesson
