- content_for :title do
  = "#{@lesson.title} | #{@course.title}"
- set_meta_tags(title: "#{@lesson.title} - #{@course.title}",
                description: truncate_description(strip_tags(@lesson.content.to_s)),
                keywords: @course.tags.pluck(:name).join(", "),
                type: "article",
                url: course_lesson_url(@course, @lesson),
                json_ld: [lesson_json_ld(@lesson), breadcrumb_json_ld([{ name: "Home", url: root_url }, { name: "Courses", url: courses_url }, { name: @course.title, url: course_url(@course) }, { name: @lesson.title, url: course_lesson_url(@course, @lesson) }])])
.row
  .col-lg-8
    .card.shadow
      .card-header
        %h1.h5.mb-0
          %i.text-success.fa.fa-check-square
          = link_to course_lesson_path(@course, @lesson, anchor: "current_lesson") do
            %b
              #{@lesson.chapter.row_order_rank + 1}.
              #{@lesson.row_order_rank + 1}.
            = @lesson.title
      .card-body
        - if @lesson.has_video?
          .ratio.ratio-16x9
            %iframe{allow: "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen", allowfullscreen: true, src: @lesson.video_embed_url}
        = @lesson.content
      - if policy(@lesson).edit?
        .card-footer
          = link_to edit_course_lesson_path(@course, @lesson), class: 'btn btn-sm btn-warning me-1' do
            %i.fa.fa-edit
            %span.visually-hidden Edit
          = link_to [@course, @lesson], data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do
            %i.fa.fa-trash
            %span.visually-hidden Delete
      .card-footer
        - unless @lesson.prev.nil?
          .float-start
            = link_to course_lesson_path(@course, @lesson.prev, anchor: "current_lesson"), class: 'btn btn-sm btn-info' do
              %i.fa.fa-arrow-left
              Previous
        - unless @lesson.next.nil?
          .float-end
            = link_to course_lesson_path(@course, @lesson.next, anchor: "current_lesson"), class: 'btn btn-sm btn-info' do
              %i.fa.fa-arrow-right
              Next
    %h2.h4.mt-3
      %i.fa.fa-comment
      Comments:
      = @lesson.comments_count
    .card.shadow
      .card-header
        New comment
      .card-body
        = render 'lessons/comments/form'
    .list-group
      - @comments.each do |comment|
        .list-group-item
          = render 'lessons/comments/comment', comment: comment

  .col-lg-4
    .list-group.shadow
      .list-group-item
        %i.fa.fa-graduation-cap
        = link_to course_path(@lesson.course) do
          = @lesson.course.title
        = render 'courses/progress', course: @lesson.course

    .list-group
      #scrollable
        - @chapters.each do |chapter|
          .list-group-item.shadow{"data-offset" => "0", "data-bs-spy" => "scroll", "data-bs-target" => "#scrollable"}
            = render 'chapters/chapter', chapter: chapter
            - chapter.lessons.rank(:row_order).each do |lesson|
              - if lesson.eql?(@lesson)
                %li.list-group-item.list-group-item-success#current_lesson
                  = render 'lessons/lesson', lesson: lesson
              - else
                %li.list-group-item.list-group-item-secondary
                  = render 'lessons/lesson', lesson: lesson
