- content_for :title do
  = @course.title
.row
  .col-lg-8
    .card.shadow
      .card-header
        .text-success.fa.fa-check-square
        = link_to course_lesson_path(@course, @lesson, anchor: "current_lesson") do
          %b
            #{@lesson.chapter.row_order_rank + 1}.
            #{@lesson.row_order_rank + 1}.
          = @lesson.title
      .card-body
        - if @lesson.vimeo.present?
          .embed-responsive.embed-responsive-3by2
            %iframe.embed-responsive-item{:allow => "fullscreen", :src => "https://player.vimeo.com/video/#{@lesson.vimeo}"}
        /  /%iframe{:allow => "autoplay; fullscreen", :allowfullscreen => "", :frameborder => "0", :height => "427", :src => "https://player.vimeo.com/video/#{@lesson.vimeo}", :width => "640"}
        = @lesson.content
      - if policy(@lesson).edit?
        .card-footer
          = link_to edit_course_lesson_path(@course, @lesson), class: 'btn btn-sm btn-warning mr-1' do
            .fa.fa-edit
          = link_to [@course, @lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do
            .fa.fa-trash
      .card-footer
        - unless @lesson.prev.nil?
          .float-left
            = link_to course_lesson_path(@course, @lesson.prev, anchor: "current_lesson"), class: 'btn btn-sm btn-info' do
              .fa.fa-arrow-left
              Previous
        - unless @lesson.next.nil?
          .float-right
            = link_to course_lesson_path(@course, @lesson.next, anchor: "current_lesson"), class: 'btn btn-sm btn-info' do
              .fa.fa-arrow-right
              Next
    %p
    %h4
      .fa.fa-comment
      Comments:
      = @lesson.comments_count
    .card.shadow
      .card-header
        New comment
      .card-body
        = render 'lessons/comments/form'
    .list-group
      - @comments.each do |comment|
        .list-group-item
          = render 'lessons/comments/comment', comment: comment

  .col-lg-4
    .list-group.shadow
      .list-group-item
        .fa.fa-graduation-cap
        = link_to course_path(@lesson.course) do
          = @lesson.course.title
        .row
        = render 'courses/progress', course: @lesson.course

    .list-group
      #scrollable
        - @chapters.each do |chapter|
          .list-group-item.shadow{"data-offset" => "0", "data-spy" => "scroll", "data-target" => "#scrollable"}
            = render 'chapters/chapter', chapter: chapter
            - chapter.lessons.rank(:row_order).each do |lesson|
              - if lesson.eql?(@lesson)
                %li.list-group-item.list-group-item-success#current_lesson
                  = render 'lessons/lesson', lesson: lesson
              - else
                %li.list-group-item.list-group-item-secondary
                  = render 'lessons/lesson', lesson: lesson
%br
