- if sortable
  .list-group.shadow.chapter-sortable{:style => "cursor: grab;"}
    - chapters.each do |chapter|
      = content_tag "div", id: "chapter-#{chapter.id}", data: { id: chapter.id, model_name: chapter.class.name.underscore, update_url: course_chapter_sort_path(course, chapter)} do
        .list-group-item.list-group-item-secondary
          = render 'chapters/chapter', chapter: chapter
          .list-group.lesson-sortable{:style => "cursor: grab; min-height: 10px;"}
            - chapter.lessons.rank(:row_order).each do |lesson|
              = content_tag "div", id: "lesson-#{lesson.id}", data: { model_name: lesson.class.name.underscore, update_url: course_lesson_sort_path(course, lesson)} do
                .list-group-item
                  = render lesson_partial, lesson: lesson
- else
  .list-group.shadow
    - chapters.each do |chapter|
      .list-group-item.list-group-item-secondary
        = render 'chapters/chapter', chapter: chapter
        .list-group
          - chapter.lessons.rank(:row_order).each do |lesson|
            .list-group-item
              = render lesson_partial, lesson: lesson
