.card.shadow
  .card-header
    .fa.fa-graduation-cap
    = link_to course.title, course_path(course)
  - if course.avatar.attached?
    .card-img-top
      = link_to course_path(course) do
        = image_tag course.avatar, loading: "lazy", height: "auto", width: "100%"
        /= image_tag course.avatar, height: "200px", width: "100%"
        /= image_tag course.avatar.variant(resize_to_limit: [100, 100])
        /= image_tag course.avatar.variant(resize_to_fill: [320,240]).processed
  .card-footer
    %small= simple_format(course.marketing_description)
  .card-footer
    .text-center
      = enrollment_button(course)
      .row
      = review_button(course)
      .row
      = certificate_button(course)

  .card-footer
    .row
      .col-md-6
        .text-warning.fa.fa-star
        %b= course.average_rating
        (
        .fa.fa-user-graduate
        = course.enrollments_count
        )
        .fa.fa-tasks
        = course.lessons_count
      .col-md-6
        .text-right
          - if course.user 
            - if course.user.image?
              = image_tag course.user.image, size: '20x20', alt: "#{course.user.email}", class: 'rounded-circle'
            = link_to course.user.username, user_path(course.user)
  - if current_user
    - if policy(course).owner?
      .card-footer
        .text-center
          .btn-group
            = link_to new_course_chapter_path(course, @chapter), class: 'btn btn-sm btn-primary' do
              .fa.fa-plus
              Chapter
            = link_to new_course_lesson_path(course, @lesson), class: 'btn btn-sm btn-primary' do
              .fa.fa-plus
              Lesson
            = link_to course_course_wizard_index_path(course), class: 'btn btn-sm btn-warning' do
              .fa.fa-edit
              Editor
    - if policy(course).admin_or_owner?
      .card-footer
        = link_to analytics_course_path(course), class: 'btn btn-sm btn-info' do
          .fa.fa-chart-bar
          Analtycs
      .card-footer
        .custom-control.custom-switch
          - if course.published?
            %input#customSwitch1.custom-control-input{:disabled => "disabled", :checked => "checked", :type => "checkbox"}/
          - else
            %input#customSwitch2.custom-control-input{:disabled => "disabled", :type => "checkbox"}/
          %label.custom-control-label{:for => "Published"} Teacher Published
        .row
        - if policy(course).approve?
          .custom-control.custom-switch
            = link_to approve_course_path(course), method: :patch do
              - if course.approved?
                %input#customSwitch1.custom-control-input{:type => "checkbox", :checked => "checked"}/
              - else
                %input#customSwitch1.custom-control-input{:type => "checkbox"}/
              %label.custom-control-label{:for => "customSwitch1"} Admin Approved
        - else
          .custom-control.custom-switch
            - if course.approved?
              %input#customSwitch1.custom-control-input{:disabled => "disabled", :checked => "checked", :type => "checkbox"}/
            - else
              %input#customSwitch2.custom-control-input{:disabled => "disabled", :type => "checkbox"}/
            %label.custom-control-label{:for => "Published"} Admin Approved
      - if policy(course).destroy?
        .card-footer
          = link_to course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' do
            .fa.fa-trash
  - if course.tags.any?
    .card-footer
      - course.tags.each do |tag|
        .badge.badge-info
          = tag.name
