- content_for :title do
  Corsego 
  \| 
  Edit course
  = @course.title

= link_to 'Courses', courses_path
|
= link_to course_path(@course) do
  .fa.fa-graduation-cap
  = @course.title
  |
= link_to edit_course_path(@course) do
  Edit

.card
  .card-header
    %h3
      .fa.fa-graduation-cap
      Editing course
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show', @course
    \|
    = link_to 'Back', courses_path
