- content_for :title do
  = @course.title
.row
  .col-lg-8.order-1.order-lg-1
    .card.shadow
      .card-body
        %h3
          .fa.fa-graduation-cap
          = @course.title
        %hr
        .far.fa-bookmark
        = pluralize(@course.chapters_count, 'Chapter')
        .row
        .fa.fa-tasks
        = pluralize(@course.lessons_count, 'Lesson')
        .row
        .far.fa-clock
        Created
        = @course.created_at.strftime("%m/%Y")
        .row
        .far.fa-clock
        Last updated
        = @course.updated_at.strftime("%m/%Y")
        .row
        .fa.fa-globe-africa
        = @course.language
        .row
        .fa.fa-signal
        = @course.level
        .row
        .fa.fa-file-pdf
        Certificate of Completion
        .row
        .far.fa-comment
        Access to Member-Only Q&A
        .row
        .fa.fa-download
        Access to Member-Only Resources
        .row
        .fa.fa-infinity
        Full Lifetime Access & Updates
        %hr
        = @course.description
    %br
    %h4.text-center
      .far.fa-bookmark
      = pluralize(@course.chapters_count, 'chapter')
      .fa.fa-tasks
      = pluralize(@course.lessons_count, 'lesson')
    - if current_user
      - if @course.user == current_user
        .list-group.shadow.chapter-sortable{:style => "cursor: grab;"}
          - @chapters.each do |chapter|
            = content_tag "div", id: "chapter-#{chapter.id}", data: { id: chapter.id, model_name: chapter.class.name.underscore, update_url: course_chapter_sort_path(@course, chapter)} do
              .list-group-item.list-group-item-secondary
                = render 'chapters/chapter', chapter: chapter
                .list-group.lesson-sortable{:style => "cursor: grab; min-height: 10px;"}
                  - chapter.lessons.rank(:row_order).each do |lesson|
                    = content_tag "div", id: "lesson-#{lesson.id}", data: { model_name: lesson.class.name.underscore, update_url: course_lesson_sort_path(@course, lesson)} do
                      .list-group-item
                        = render 'lessons/lesson', lesson: lesson
      - elsif current_user.has_role?(:admin) || current_user.bought?(@course)
        .list-group.shadow
          - @chapters.each do |chapter|
            .list-group-item.list-group-item-secondary
              = render 'chapters/chapter', chapter: chapter
              .list-group
                - chapter.lessons.rank(:row_order).each do |lesson|
                  .list-group-item
                    = render 'lessons/lesson', lesson: lesson
      - else
        .list-group.shadow
          - @chapters.each do |chapter|
            .list-group-item.list-group-item-secondary
              = render 'chapters/chapter', chapter: chapter
              .list-group
                - chapter.lessons.rank(:row_order).each do |lesson|
                  .list-group-item
                    = render 'lessons/lesson_preview', lesson: lesson
    - else
      .list-group.shadow
        - @chapters.each do |chapter|
          .list-group-item.list-group-item-secondary
            = render 'chapters/chapter', chapter: chapter
            .list-group
              - chapter.lessons.rank(:row_order).each do |lesson|
                .list-group-item
                  = render 'lessons/lesson_preview', lesson: lesson

    - if @reviews.any?
      %br
      %h4
        .far.fa-comment
        = pluralize(@reviews.count, 'review')
      .list-group
        - @reviews.each do |enrollment|
          .list-group-item
            = render 'enrollments/enrollment', enrollment: enrollment
        %p

  .col-lg-4.order-0.order-lg-1
    .sticky-top
      = render 'courses/course', course: @course
    %p

/%hr
/%h4 
/  .fa.fa-graduation-cap
/  Related Courses
/.row
/- @course.similiar_courses.each do |course|
/  .col-md-6
/    = render 'courses/course', course: course
/    %p
