- content_for :title do
  = @course.title
- set_meta_tags(title: @course.title,
                description: @course.marketing_description,
                keywords: @course.tags.pluck(:name).join(", "),
                image: course_image_url(@course),
                type: "product",
                url: course_url(@course),
                json_ld: [course_json_ld(@course), course_product_json_ld(@course), breadcrumb_json_ld([{ name: "Home", url: root_url }, { name: "Courses", url: courses_url }, { name: @course.title, url: course_url(@course) }])])
.row
  .col-lg-8.order-1.order-lg-1
    .card.shadow
      .card-body
        %h1.h3
          %i.fa.fa-graduation-cap{"aria-hidden": "true"}
          = @course.title
        %hr
        %i.far.fa-bookmark{"aria-hidden": "true"}
        = pluralize(@course.chapters_count, 'Chapter')
        %br
        %i.fa.fa-tasks{"aria-hidden": "true"}
        = pluralize(@course.lessons_count, 'Lesson')
        %br
        %i.far.fa-clock{"aria-hidden": "true"}
        Created
        = @course.created_at.strftime("%m/%Y")
        %br
        %i.far.fa-clock{"aria-hidden": "true"}
        Last updated
        = @course.updated_at.strftime("%m/%Y")
        %br
        %i.fa.fa-globe-africa{"aria-hidden": "true"}
        = @course.language
        %br
        %i.fa.fa-signal{"aria-hidden": "true"}
        = @course.level
        %br
        %i.fa.fa-file-pdf{"aria-hidden": "true"}
        Certificate of Completion
        %br
        %i.far.fa-comment{"aria-hidden": "true"}
        Access to Member-Only Q&A
        %br
        %i.fa.fa-download{"aria-hidden": "true"}
        Access to Member-Only Resources
        %br
        %i.fa.fa-infinity{"aria-hidden": "true"}
        Full Lifetime Access & Updates
        %hr
        = @course.description
    %h2.h4.text-center.mt-3
      %i.far.fa-bookmark{"aria-hidden": "true"}
      = pluralize(@course.chapters_count, 'chapter')
      %i.fa.fa-tasks{"aria-hidden": "true"}
      = pluralize(@course.lessons_count, 'lesson')
    - if current_user
      - if @course.user == current_user
        = render 'courses/chapter_list', chapters: @chapters, course: @course, sortable: true, lesson_partial: 'lessons/lesson'
      - elsif current_user.has_role?(:admin) || current_user.bought?(@course)
        = render 'courses/chapter_list', chapters: @chapters, course: @course, sortable: false, lesson_partial: 'lessons/lesson'
      - else
        = render 'courses/chapter_list', chapters: @chapters, course: @course, sortable: false, lesson_partial: 'lessons/lesson_preview'
    - else
      = render 'courses/chapter_list', chapters: @chapters, course: @course, sortable: false, lesson_partial: 'lessons/lesson_preview'

    - if @reviews.any?
      %h2.h4.mt-3
        %i.far.fa-comment{"aria-hidden": "true"}
        = pluralize(@reviews.count, 'review')
      .list-group
        - @reviews.each do |enrollment|
          .list-group-item
            = render 'enrollments/enrollment', enrollment: enrollment

  .col-lg-4.order-0.order-lg-1
    .sticky-top
      = render 'courses/course', course: @course
