- content_for :title do
  Corsego 
  \/ 
  = @course.title

= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
%p

.row
  .col-lg-6
    = render 'courses/course', course: @course
  .col-lg-6
    - if policy(@course).edit?
      = link_to 'Add lesson', new_course_lesson_path(@course, @lesson), class: 'btn btn-primary btn-sm btn-block'
      %p
    - @lessons.each do |lesson|
      = render 'lessons/lesson', lesson: lesson

