- if @course.user == current_user
  = link_to edit_course_chapter_path(@course, chapter), class: 'badge badge-warning mr-1' do
    .fa.fa-edit
  = link_to [@course, chapter], method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge badge-danger mr-1' do
    .fa.fa-trash
.far.fa-bookmark
Chapter
#{chapter.row_order_rank + 1}.
= chapter.title
.text-center 
  .fa.fa-tasks
  = pluralize(chapter.lessons_count, 'lesson')
