.far.fa-bookmark
%b
  #{chapter.row_order_rank + 1}.
  = chapter.title
.row
.fa.fa-tasks
= pluralize(chapter.lessons_count, 'lesson')
- if current_user && policy(chapter.course).edit?
  = link_to edit_course_chapter_path(@course, chapter), class: 'badge badge-warning mr-1' do
    .fa.fa-edit
  = link_to [@course, chapter], method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge badge-danger' do
    .fa.fa-trash