-# frozen_string_literal: true
= simple_form_for([@course, @chapter]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title, input_html: { autocomplete: 'off' }
  .form-actions
    = f.button :submit