- content_for :title do
  Corsego 
  |
  Course
  = @course.title
  |
  Edit Chapter

= link_to 'Courses', courses_path
|
= link_to course_path(@course) do
  .fa.fa-graduation-cap
  = @course.title
|
= link_to edit_course_chapter_path(@course, @chapter) do
  .far.fa-bookmark
  Edit Chapter

.card.shadow
  .card-header
    %h3
      .far.fa-bookmark
      Edit chapter
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back to course', course_path(@course)