- content_for :title do
  = @course.title
  |
  Edit Chapter

.fa.fa-graduation-cap
= link_to course_path(@course) do
  = @course.title
|
.far.fa-bookmark
= link_to edit_course_chapter_path(@course, @chapter) do
  Edit Chapter

.card.shadow
  .card-header
    %h3
      .far.fa-bookmark
      Edit chapter
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back to course', course_path(@course)