%h1 Listing chapters

%table
  %thead
    %tr
      %th Row order
      %th Course
      %th Title
      %th
      %th
      %th

  %tbody
    - @chapters.each do |chapter|
      %tr
        %td= chapter.row_order
        %td= chapter.course
        %td= chapter.title
        %td= link_to 'Show', chapter
        %td= link_to 'Edit', edit_chapter_path(chapter)
        %td= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Chapter', new_chapter_path
