- content_for :title do
  Corsego 
  |
  Course
  = @course.title
  |
  New Chapter

= link_to 'Courses', courses_path
|
.far.fa-bookmark
= link_to course_path(@course) do
  = @course.title
|
= link_to 'New Chapter', new_course_chapter_path(@course, @chapter)

.card.shadow
  .card-header
    %h3
      .far.fa-check-square
      New chapter
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back to course', course_path(@course)