%p#notice= notice

%p
  %b Row order:
  = @chapter.row_order
%p
  %b Course:
  = @chapter.course
%p
  %b Title:
  = @chapter.title

= link_to 'Edit', edit_chapter_path(@chapter)
\|
= link_to 'Back', chapters_path
