%footer.purple-background.text-light
  .container-fluid.text-center
    %br/
    .row
      .col-lg-4
        = link_to 'Corsego', root_path, class: "#{'active font-weight-bold' if current_page?(root_path)}"
        ©
        \#{Time.now.year}
        %br/
        = link_to t('navigation.home'), root_path, class: "#{'active font-weight-bold' if current_page?(root_path)}"
        %br/
        = mail_to 'hello@corsego.com' do
          .fa.fa-envelope
      .col-lg-4
        .row
        = link_to 'Teach on Corsego', new_course_path, class: "#{'active font-weight-bold' if current_page?(new_course_path)}"
        .row
        = link_to 'Browse Courses', courses_path, class: "#{'active font-weight-bold' if current_page?(courses_path)}"
        .row
        = link_to 'About', about_path, class: "#{'active font-weight-bold' if current_page?(about_path)}"
        .row
        = link_to 'Privacy', privacy_path, class: "#{'active font-weight-bold' if current_page?(privacy_path)}"
        .row
        = link_to 'Terms', terms_path, class: "#{'active font-weight-bold' if current_page?(terms_path)}"
      .col-lg-4
        %p.mb-1 Know something worth teaching?
        %p.mb-0
          = link_to 'Create your first course', new_course_path, class: 'text-light'
    %br/
