!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "online education, course platform, video tutorials, udemy clone", :name => "keywords"}/
    %meta{:content => "Online Learning and Skill sharing platform", :name => "description"}/
    %meta{:content => "Yaroslav Shmarov", :name => "author"}/
    %script{:src => "https://js.stripe.com/v3/"}
    = favicon_link_tag 'thumbnail.png'
    %title
      = content_for?(:title) ? yield(:title) : "Corsego"
    = csrf_meta_tags
    = csp_meta_tag

    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    - if Rails.env.production?
      %script{"data-domain" => "corsego.com", :defer => "defer", :src => "https://plausible.io/js/plausible.js"}
      = render 'layouts/google_analytics'
  %body
    = render 'layouts/header'
    = render 'layouts/messages'
    .container
      %p
      = yield
  %p
  = render 'layouts/footer'
