!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "online education, course platform, video tutorials, udemy clone", :name => "keywords"}/
    %meta{:content => "Online Learning and Skill sharing platform", :name => "description"}/
    %meta{:content => "Yaroslav Shmarov", :name => "author"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %link{:href => "/manifest.json", :rel => "manifest"}/

    %script{:src => "https://js.stripe.com/v3/"}
    %link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css", :integrity => "sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==", :crossorigin => "anonymous", :referrerpolicy => "no-referrer"}
    = favicon_link_tag 'thumbnail.png'
    %title
      = content_for?(:title) ? yield(:title) : "Corsego"
    = csrf_meta_tags
    = csp_meta_tag

    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true
    = stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    - if Rails.env.production?
      %script{"data-domain" => "corsego.com", :defer => "defer", :src => "https://plausible.io/js/plausible.js"}
      = render 'layouts/google_analytics'
  %body
    = render 'layouts/header'
    = render 'layouts/messages'
    .container
      %p
      = yield
  %p
  = render 'layouts/footer'
