!!!
%html{lang: "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "Yaroslav Shmarov", :name => "author"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "#4a90d9", :name => "theme-color"}/
    %link{:href => "/manifest.json", :rel => "manifest"}/

    -# Dynamic SEO meta tags (description, keywords, OG, Twitter, JSON-LD)
    = render_meta_tags

    %script{:src => "https://js.stripe.com/v3/"}
    %link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css", :integrity => "sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==", :crossorigin => "anonymous", :referrerpolicy => "no-referrer"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js", :integrity => "sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==", :crossorigin => "anonymous", :referrerpolicy => "no-referrer"}
    :javascript
      // Shim require for jQuery - needed by cocoon-js and other CommonJS modules
      window.require = function(name) {
        if (name === 'jquery') return window.jQuery;
        throw new Error('Module not found: ' + name);
      };
    = favicon_link_tag 'thumbnail.png'
    %title
      = content_for?(:title) ? yield(:title) : "Corsego"
    = csrf_meta_tags
    = csp_meta_tag

    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true
    = stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    - if Rails.env.production?
      %script{"data-domain" => "corsego.com", :defer => "defer", :src => "https://plausible.io/js/plausible.js"}
      = render 'layouts/google_analytics'
  %body
    = render 'layouts/header'
    = render 'layouts/messages'
    .container
      %p
      = yield
  %p
  = render 'layouts/footer'
